
.navbar{
 display: grid; 
 grid-template-columns: 250px auto;
 grid-template-rows: auto;
 margin-bottom: 20px; 
 margin-top: 20px;
 font-size: larger;
}
.lists {
display: grid;
grid-template-columns: repeat(8, auto);
grid-template-rows: auto;
list-style-type: none;
font-weight: bolder;
}
a { text-decoration: none;
  color: black;
}
.logo {
margin-left: 100px ;
margin-top: 5px;
}

/*--------------------------------------------------------*/



.header-content{
  padding: 40px 30px;
  margin-left: 80px; 
}
.header{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 350px;
  background-color: #495e57; 
}
.header-content   h1 {
  color: #F4ce14;
  margin-bottom: 0%;
}
.header-content   p  {
  color: #ffffff;
  text-align: left;
}
.header-content >  h2 {
    color: #ffffff;
    margin-top: 0%;
}
.reserve-button{
  background-color: #F4ce14;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
}
.image-container{
  width: 250px;
  height: 300px;
  margin-top: 130px;
  margin-left: 120px;
 }
 .image{
   width: 100%;
   height: 100%;
   border-radius: 15px;  
 }

/*-------------------------------------------------------*/


.main-header{
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-top: 120px;
}
.main-header> h2{
  background-color: #F4ce14;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;}


 /*-----------------------------------------*/

.image-one-container{
  width: 250px;
  height: auto;
}
.image-one{
  width: 100%;
  height: 100%;
  border-radius: 5px; 
}
.main-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px; 
}
.card{
  margin: auto;
  background-color: aliceblue;
}
.card > p, h3{
  margin-left: 10px;
  padding-bottom: 20px;
}
.item-name{
  display: flex;
  justify-content: space-around;
}

.item-name >  h4 {
    color: rgb(250, 29, 29);
  }

.card > h3 {
border: 2px black solid;
text-align: center;
border-radius: 20px;
padding: 10px;
}

/*---------------------------------------*/



.footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color:aliceblue;
}
